{% load static %}
{% load tags %}
<html>
    <head>
        {% load bootstrap4 %}
        {% bootstrap_messages %}

        <link rel="stylesheet" type="text/css" href="{% static 'posts/bootstrap-litera.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/badpython.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/atom-one-light.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <title>{% block title %}BadPython.com{% endblock %}</title>
        <script>
            var csrftoken = '{{ csrf_token }}';
        </script>

        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <div class="container pt-1">
            <div class="row pt-2">
                <h1>
                    <a href="{% url 'index' %}" class="link-unstyled">
                        BadPython.com
                    </a>
                </h1>
                {% submitting as is_submission %}
                {% if not is_submission %}
                <div class="ml-auto my-auto">
                    <a href="{% url 'submit' %}" class="btn btn-primary float-right">
                        <i class="far fa-plus-circle"></i>
                        Submit Bad Python
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="container mt-5">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>