{% extends "posts/_layout.html" %}
{% load static %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js"
    integrity="sha512-GoORoNnxst42zE3rYPj4bNBm0Q6ZRXKNH2D9nEmNvVF/z24ywVnijAWVi/09iBiVDQVf3UlZHpzhAJIdd9BXqw=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-python.min.js"
    integrity="sha512-2Ke4vMGrMfYRM55pT1aA5bw7Pl82Sc7K5Hg8XZYZu+EQrb0AO1mNYTagwZm+MFVAImYS9Mlnm73zcgc01wPXxA=="
    crossorigin="anonymous"></script>
<style type="text/css" media="screen">
    #code-submission {
        width: 100%;
        min-height: 200px;
        height: 40vh;
        max-width: 764px;
        border-width: 1px;
        border-style: solid;
        border-color: dimgrey;
    }
    #code-editor {
        width: 100%;
        min-height: 200px;
        height: 40vh;
        max-width: 764px;
        border-width: 1px;
        border-style: solid;
        border-color: dimgrey;
    }
</style>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-between">
    <div class="col-6" id="code-submission-col">
        <div class="submission-suggestion-view" id="code-submission">
        </div>
    </div>
    <div class="col-6" id="suggestion-editor-col">
        <form class="form" id="suggestion-form">
            <div class="row">
                <div id="code-editor"></div>
            </div>
            <div class="row mt-2">
                <input class="form-control" type="text" id="summary-input" placeholder="Summarize your fix" required/>
            </div>
            <div class="row mt-2">
                <button type="submit" class="btn btn-primary ml-auto">
                    Submit Suggestion
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal" role="dialog" id="invalid-submission-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invalid-submission-modal-title">There Was A Problem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-around" id="invalid-submission-modal-body">
                <p id="invalid-submission-body"></p>
            </div>
        </div>
    </div>
</div>

<script>
    const theme = "ace/theme/sqlserver"
    const themeUrl = "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-sqlserver.min.js"
    
    ace.config.setModuleUrl(theme, themeUrl);

    var submission = ace.edit("code-submission");
    submission.setTheme(theme);
    submission.session.setMode("ace/mode/python");
    submission.setReadOnly(true);

    let submissionCode = `{{post.code|safe}}`;
    submission.setValue(submissionCode);

    var editor = ace.edit("code-editor");    
    editor.setTheme(theme);
    editor.session.setMode("ace/mode/python");

    let submitUrl = "{% url 'suggest' post_id=post.id %}";

    let form = $("#suggestion-form");

    const responseHandler = function (response) {
        if (response.status == 301) {
            return response.json().redirectUrl
        } else {
            return null
        }
    }

    const invalidCodeHandler = function () {

    }

    const onSubmit = function (ev) {
        ev.preventDefault();
        let code = editor.getValue();
        let summary = $("#summary-input").val();
        let data = {
            summary: summary,
            code: code
        };
        fetch(submitUrl, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data)
        }
        ).then(response => {
            if (response.redirected) {
                window.location.replace(response.url);
            } else if (response.status == 200) {
                response.json().then(json => {
                    let msg = json.message;
                    $("#invalid-submission-body").text(msg);
                    $("#invalid-submission-modal").modal("show");
                });
            } else {
                alert("There was an error processing your submission, please try again later!");
            }
        })
    };
    form.submit(onSubmit)
</script>

{% endblock %}